.drawer {
  --dialog-description-padding: 0px 0px var(--spacing-8) 0px;
}

.bodyHeader {
  border-bottom: 1px solid var(--l2-border);
  --input-focus-outline: none;
}

.columnItem {
  display: flex;
  align-items: center;
}

.columnsTitle {
  color: var(--l1-foreground);
  opacity: 0.6;
  font-size: var(--periscope-font-size-small);
  font-weight: var(--periscope-font-weight-medium);
  text-transform: uppercase;

  padding: var(--spacing-4) var(--spacing-8);
  margin-bottom: var(--spacing-4);
}

.columnsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.columnItem {
  justify-content: flex-start !important;
  width: 100%;
}

.horizontalDivider {
  border-top: 1px solid var(--l1-border);
}
